@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
*{  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}